*{
    padding:0;
    margin:0;
}
.Navbar{
    display:flex;
    justify-content:space-between;
    height: 80px;
    align-items: center;
    padding:0px 40px;
}
.logo{
    font-size: 20px;
    font-weight: 900;
}
.Nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    position: relative;
    left: -100px;
}
li{
    margin-left: 40px;
}
li:hover{
    color:rgb(104,12,33);
    text-decoration:underline;
    text-underline-position:under;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 350px;
    color:white;
    
}
.Navbar::after{
    width: 482px;
    height: 200px;
    background-color:rgb(118,14,37);
    position: absolute;
    content:"";
    right:0;
    z-index: -1;
    border-radius:170px 0px 0px 0px;
    
}
.search{
    background-color:rgb(104,12,33);
    border-radius: 20px;
    padding:2px 10px;
    color:white;
}
input[type="search"]{
    border:none;
    outline:none;
    padding:7px 5px;
    border-radius: 20px;
    background-color:rgb(104,12,33);
    color:white;
}
::placeholder{
    color:white;
}


/**************heading**************/
.heading{
    display: flex;
    justify-content: center;
    background-color:rgb(239,239,239);
    width: 95%;
    height: 90%;
    border-radius: 0px 50px 0px 0px;
}
h2{
    font-size: 80px;
    color:rgb(118,14,37);
}
h3{
    font-size: 50px;
    color:orange;
}
p{
    font-size: 18px;
}

.price{
    display: flex;
    align-items: center;
}
strong{
    font-size: 50px;
}
.actualprice{
    text-decoration: line-through;
    color:#ccf;
    margin-left: 20px;
}

.addbag{
    display: flex;
    margin:10px 0px;
}
.bagtext{
    padding:5px 10px;
    width:100px;
    border:1px solid black;
    text-align: center;
}
.bagicon{
    border:1px solid black;
    width: 30px;
    text-align: center;
    padding:5px 10px;
}
.leftcontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 71px;
}

.rightcontent{
    width: 550px;
    height: 550px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: right;

}
.rightcontent::after{
    content: "";
    width: 415px;
    height: 500px;
    position: absolute;
    background-color:orange;
    right: -25px;
    border-radius: 0px 50px 0px 0px;
    z-index: -1;
}
.rightcontent img{
    position: relative;
    right:-65px;

}

.shoesdown{
    border-radius: 0px 50px 0px 0px;
    position: relative;
    top:50px;
}